#App {
  width: 100%;
  height: 100%; 
}

header {
  width: 100%;
  background-color: #202124;
}

#Header {
  width: 850px;
  height: 50px;
  padding: 10px 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #202124;
}

#Header h1 {
  font-size: 2.3em;
  line-height: 1;
}

#Header a {
  text-decoration: none;
}

#Header p {
  font-size: 1.1em;
  margin-left: 10px;
  color: #9AA0A6;
}

#Header .Space {
  flex-grow: 1;
}

#Main {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
  overflow-x: hidden;
}
