.IllustNote {
  width: 250px;
  height: 250px;
  margin: 30px 40px;
  display: block;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-decoration: none;
  background-size: cover;
  position: relative;
  float: left;
  background-color: #2f2543;
}

.IllustNote canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.IllustNote:hover {
  opacity: 0.7;
}

.IllustNote .Profile {
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  padding: 6px;
}

.IllustNote.New .Profile {
  background-color: rgb(114 53 242 / 60%);
} 

.IllustNote .Profile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.IllustNote .Profile p {
  margin-left: 15px;
  line-height: 1.2;
}

.IllustNote .Profile span {
  color: #9AA0A6;
}

.IllustNote.New .Profile span {
  color: #dedede;
}